.reset-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
}
.reset-password h2{
    text-align: center;
    color: red;
    margin-top: 100px;
}
.reset-password form{
    box-shadow: 0 0 5px red;
    display: flex;
    padding: 20px;
    border-radius: 6px;
    flex-direction: column;
    font-family: 'poppins';
    max-width: 320px;
    width: 100%;
}
.reset-password form label{
    color: white;
    text-align: center;
}
.reset-password form input{
    outline: none;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
.reset-password  form .error{
    color: red;
    margin-top: 20px;
}
.reset-password  form .success{
    color: aqua;
    margin-top: 20px;
}
.reset-password form button{
    background: red;
    border: none;
    padding: 8px 4px;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s ease;
}
.reset-password form button:hover{
    background: rgb(179, 17, 17);
}
.reset-password a{
    color: white;
    margin-top: 20px;
    transition: .3s ease;
}
.reset-password a:hover{
    color: red;
}