.anime{
    position: relative;
}
.anime .container-pelis{
    position: absolute;
    top: 100px;
    left: 60px;
    color: white;
}
.anime .box-pelis{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    column-gap: 10px;
    overflow-y: auto;
    height: 100%;
}
.anime .box-pelis .box{
    border: gray solid 1px;
    padding: 10px;
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
/* .anime .box-pelis .box .titulo{
    color: white;
    font-family: 'poppins';
    margin: 0;
} */
.anime .box .verVideo{
    width: 100%;
    max-width: 100%;
    height: 100%;
    height: 100px;
    object-fit: cover;
}








.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.617);
}
.modal .modal-content{
    position: relative;
    background: pink;
    max-width: 60%;
    height: auto;
}