
  .App {
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;
  }
  
  .ini {
    border: black solid 1px;
    height: 700px;
    border-bottom: rgb(63, 62, 62) solid 7px;
    border-top: none;
    background: black;
  }
  
  .inicio1 {
    background-image: url('../IMG/fondoNet.png');
    /* background-image: url('https://res.cloudinary.com/ehizeex-shop/image/upload/v1668265236/NetflixApp/netflix-reuse-official_ntcjl2_wtrhhh.jpg'); */
    background-size: cover;
    background-position: center;
    height: 1000px;
  }

  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    gap: 33vw;
  }
  
  img {
    width: 150px;
  }
  
  .idiSesion {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .idiSesion select {
    background: none;
    color: white;
    width: 130px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  
  select option {
    color: black;
  }
  
  .idiSesion button {
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 130px;
    padding: 5px;
    cursor: pointer;
  }
  
  .portada {
    height: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 2vh;
  }
  
  .portada h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 10px red;
    text-align: center;
  }
  
  .portada p {
    font-size: 20px;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 10px red;
  }
  
  .portada .porp2 {
    min-width: 400px;
    max-width: 850px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .inicio2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .inicio2 .subIni2 h1,
  p {
    color: white;
  }
  
  .subIni2 h1 {
    font-size: 50px;
    margin: 0;
  }
  
  .subIni2 p {
    font-size: 25px;
    max-width: 650px;
    min-width: 300px;
  }
  
  .inicio2 img {
    width: 700px;
  }
  
  .inicio3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .inicio3 .ini3img {
    position: relative;
  }
  
  .inicio3 .imgdescarga {
    border: gray solid;
    position: absolute;
    height: 80px;
    width: 60%;
    top: 74%;
    left: 20%;
    border-radius: 10px;
    background: black;
    display: flex;
    color: white;
    padding: 10px;
  }
  
  .inicio3 .imgdescarga img {
    height: 100%;
    width: 60px;
  }
  
  .inicio3 .imgdescarga .subdescarga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 20px;
  }
  
  .subdescarga h4,
  p {
    margin: 0;
  }
  
  .subdescarga p {
    color: rgb(53, 66, 241);
    font-weight: bold;
  }
  
  .imgdescarga .iconDescarga {
    position: absolute;
    right: 12px;
    top: 38%;
    font-size: 25px;
    animation: desRota 1s ease infinite;
  }
  
  @keyframes desRota {
    0% {
      top: 40%;
    }
  
    50% {
      top: 32%;
    }
  
    100% {
      top: 40%;
    }
  }
  
  .inicio3 .subIni3 {
    width: 37vw;
    height: auto;
  }
  
  .inicio3 .subIni3 h1 {
    font-size: 50px;
  }
  
  .subIni3 p {
    font-size: 25px;
  }
  
  .inicio3 img {
    width: 37vw;
    height: auto;
  }
  
  .inicio3 .subIni3 h1,
  p {
    color: white;
  }
  
  @media (max-width: 700px) {
    nav {
      gap: 0;
    }
    .inicio2 .img .dsilogo{
      width: 150px;
      top: 23%;
      left: 35%;
    }
  }
  
@media (max-width:1356px) {
    .inicio2 {
      height: auto;
      text-align: center;
  
    }
  
    .inicio2 .subIni2, p {
      width: 100%;
    }
  
    .inicio2 img {
      height: 100%;
      width: 100%;
    }
  
    .subIni2 p {
      max-width: 100%;
    }
    .inicio3{
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
    }
    .inicio3 .subIni3, .ini3img{
      margin: 0;
      width: 100%;
    }
    .subIni3 h1{
      margin-top: -50px;
    }
  }