.videos {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 80px);
    padding-bottom: 50px;
    z-index: 0;
    overflow: hidden;
}

.videos .videoNuevo {
    margin-top: 10px;
    height: 70vh;
    padding: 10px;
    position: relative;
    width: calc(100vw - 100px);
}

.videos .videoNuevo button {
    position: absolute;
    bottom: 120px;
    left: 50px;
    background: rgb(185, 14, 14);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: calibri;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    animation: flotar 1.5s linear infinite;
}

@keyframes flotar {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

}

.videos .videoNuevo h2 {
    position: absolute;
    color: white;
    bottom: 100px;
    right: 50px;
    font-family: calibri;
    font-weight: bold;
    font-size: 40px;
    transition: 0.3s ease;
}

.videos .videoFila {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.videoFila .tipo {
    font-family: calibri;
    color: white;
    font-size: 25px;
    margin: 0;
    margin-left: 25px;
    margin-top: 10px;
}

.videoFila .videoContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.videoFila .videoContainer .btn-scrol {
    position: absolute;
    color: black;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.58);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0,);
    transition: background-color 0.2s ease-in-out;
}

.videoFila .videoContainer .scroll-left {
    left: 1rem;
}

.videoFila .videoContainer .scroll-right {
    right: 0.3rem;
}

.videoFila .subFila {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    transition: .5s ease;
    scroll-behavior: smooth;
    margin-top: -15px;
}

.videoFila .subFila::-webkit-scrollbar {
    display: none;
}

.videoFila .subFila .sub_box .datosVideo {
    width: 280px;
    height: 230px;
    padding: 10px;
    box-shadow: 0 0 3px white;
    border-radius: 10px;
    overflow: hidden;
    transition: .4s ease;
    position: relative;
    /* box-shadow: 0 0 4px aqua; */
    border: black solid 1px;
    background: rgb(23, 22, 22);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
    padding: 8px;
}
.videoFila .subFila .sub_box .datosVideo:hover{
    transform: scale(1.03);
}

.videoFila .subFila .sub_box .datosVideo p {
    pointer-events: none;
    z-index: 1;
    font-weight: bold;
    backdrop-filter: blur(20px);
    color: white;
    text-shadow: 0 0 2px red,
        0 0 2px red,
        0 0 2px red;
}

.videos .sub_box .datosVideo button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border: none;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    box-shadow: 0 0 3px red;
    cursor: pointer;
    display: grid;
    place-items: center;
    backdrop-filter: blur(20px);
    transition: .3s ease;
}
.videos .videoFila .datosVideo img {
    position: absolute;
    width: 94%;
    height: 92%;
    border-radius: 10px;
    object-fit: cover;
    z-index: 0;
    transition: .5s ease;
}

.videos .videoFila .datosVideo img:hover {
    transform: scale(1.09);
}




@media (max-width: 800px){
    .videos{
        width: 98vw;
        margin-left: -70px;
    }
    .videos .box-pelis{
        grid-template-columns: repeat(2, 1fr);
    }
    .videos .videoNuevo{
        width: calc(100%);
    }
}