.videos {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 80px);
    padding-bottom: 50px;
    z-index: 0;
    overflow: hidden;
}

.videos .videoNuevo {
    margin-top: 10px;
    height: 70vh;
    padding: 10px;
    position: relative;
    width: calc(100vw - 100px);
}

.videos .videoNuevo button {
    position: absolute;
    bottom: 120px;
    left: 50px;
    background: rgb(185, 14, 14);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: calibri;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    animation: flotar 1.5s linear infinite;
}

@keyframes flotar {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

}

.videos .videoNuevo h2 {
    position: absolute;
    color: white;
    bottom: 100px;
    right: 50px;
    font-family: calibri;
    font-weight: bold;
    font-size: 40px;
    transition: 0.3s ease;
}

.videos .videoFila {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    overflow: hidden;
}

.videoFila .tipo {
    font-family: calibri;
    color: white;
    font-size: 25px;
    margin: 0;
    margin-left: 25px;
    margin-top: 30px;
}

.videoFila .videoContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.videoFila .videoContainer .btn-scrol {
    position: absolute;
    color: black;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.58);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0,);
    transition: background-color 0.2s ease-in-out;
}

.videoFila .videoContainer .scroll-left {
    left: 1rem;
}

.videoFila .videoContainer .scroll-right {
    right: 0.3rem;
}

.videoFila .subFila {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    transition: .5s ease;
    scroll-behavior: smooth;
    margin-top: -15px;
}

.videoFila .subFila::-webkit-scrollbar {
    display: none;
}

.videoFila .subFila .sub .datosVideo {
    width: 280px;
    height: 230px;
    padding: 10px;
    box-shadow: 0 0 3px white;
    border-radius: 10px;
    overflow: hidden;
    transition: .4s ease;
}
.videoFila .subFila .sub .datosVideo:hover{
    box-shadow: 0 0 3px white;
    transform: scale(1.04);
}

.videoFila .subFila .sub .datosVideo h3 {
    color: white;
    text-align: center;
    margin: 0;
}